body {
	margin: 0;
	min-width: 1200px;
	background: #fff;
	font-family: Arial, sans-serif;
	line-height: 1.1;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.welcome {
	display: none;
}
.fa-eye-slash {
	display: none;
}
    